
body{
    background-image: url(../images/Coens-style.jpg);
    background-size: cover;
}
.container{
    height: auto;
    margin-top: 90px;
    margin-bottom: 120px;
    background-image: linear-gradient(rgb(180, 83, 3), burlywood);
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    border: 6px solid rgb(129, 62, 0);
}
.gameTitle{
    font-size: 72px;
    font-family: 'Alfa Slab One', cursive;
    color: brown;
    text-shadow: wheat;
}
.startButton{
    height: 120px;
    width: 315px;
    border-radius: 25px;
    border:  6px solid rgb(129, 62, 0);
    background-image: linear-gradient(rgb(180, 83, 3), rgb(179, 126, 57));
    font-size: 56px;
    font-family: 'Alfa Slab One', cursive;
    color: antiquewhite;
    margin-top: 50px;
}
.startButton:hover{
    background-image: linear-gradient(rgb(179, 126, 57), rgb(180, 83, 3));
    font-size: 54px;
    height: 110px;
    width: 305px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.question{
    padding: 10px;
    height: auto;
    font-size: 32px;
    font-family: 'Alfa Slab One', cursive;
    color: antiquewhite;
    border-radius: 25px;
    background-image: linear-gradient(rgb(122, 29, 0), rgb(116, 73, 17));
}
.answer{
    height: 60px;
    width: 80%;
    margin: 2px;
    margin-right: auto;
    margin-left: auto;
    font-size: 32px;
    font-family: 'Alfa Slab One', cursive;
    color: brown;
    background-color: blanchedalmond;
    border-radius: 25px;
    border: 6px solid brown; 
}
.timer{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    width: 150px;
    border-radius: 25px;
    border:  6px solid rgb(129, 62, 0);
    background-image: linear-gradient(rgb(180, 83, 3), rgb(179, 126, 57));
    font-size: 32px;
    font-family: 'Alfa Slab One', cursive;
    color: antiquewhite;
}
.answer:hover{
    background-image: radial-gradient(blanchedalmond, rgb(116, 73, 17) )  
}
#correct,
#rightAnswer{
    font-family: 'Alfa Slab One', cursive;
    font-size: 56px;
    color: rgb(1, 112, 28);
}
#incorrect,
#wrongAnswer{
    font-family: 'Alfa Slab One', cursive;
    font-size: 56px;
    color: rgb(187, 3, 3);   
}